{% extends 'base.html' %}

{% block title %}Диалектный подкорпус{% endblock %}

{% block css %}
  <style type="text/css">
    .tab > span.dialects-tab { border: 1px solid #000; border-bottom: none; }
  </style>
{% endblock %}

{% block content %}
<p></p>
<p>Здесь планируется разместить поиск по архивным диалектным текстам хакасского языка, в частности, опубликованным в изданиях серии «Памятники фольклора народов Сибири и Дальнего Востока», т.&nbsp;33 «Хакасские народные сказки», т.&nbsp;34 «Несказочная проза хакасов».</p>
<p>С устным корпусом диалектов хакасского языка можно ознакомиться <a href="http://lingconlab.ru/spoken_khakas/" target="_blank">по ссылке</a>.</p>
{% comment %}
        <table border="1" cellpadding="10" style="border-collapse:collapse;">
          <tbody>
    {% for text in object_list %}
            <tr>
              <th>{{ text.title }}</th>
              <td><a href="/{{ text.text_storage }}">Текст ({{ text.text_extension }})</a></td>
              <td><a href="/{{ text.audio_storage }}">Аудио ({{ text.audio_extension }})</a></td>
            </tr>
    {% endfor %}
          </tbody>
        </table>
{% endcomment %}
{% endblock %}
