{% load flatpages %}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Электронный корпус хакасского языка - {% block title %}{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <style type="text/css">
    body { background: #DDD; }
    .tabs { position: relative; }
    .tab { display: inline-block; }
    .tab > span { cursor:pointer; padding: 5px; font-weight: bold; font-size: 14pt; }
    .tab > span.selected { border: 1px solid #000; border-bottom: none; }
    .tab-content { margin: 18px 40px; text-align: justify; }

    div { font-family: Times New Roman PSMT Pro, Starling Serif, Charis SIL, Times New Roman, serif; }
  </style>
  {% block css %}{% endblock %}
</head>
<body>
  <h1>Электронный корпус хакасского языка</h1>
  {% get_flatpages as pages %}
  <ul id="menu" class="tabs">
    {% for page in pages %}
      {% if page.url != '/help/corpus/' %}
    <li class="tab">
      <span{% ifequal page flatpage %} class="selected"{% endifequal %}><a href="{{ page.url }}">{{ page.title }}</a></span>
    </li>
      {% endif %}
    {% endfor %}
    <li class="tab">
      <span class="texts-tab"><a href="{% url 'texts' %}">Сведения о текстах</a></span>
    </li>
    <li class="tab">
      <span class="persons-tab"><a href="{% url 'persons' %}">Сведения об авторах и рассказчиках</a></span>
    </li>
    {% comment %}
    <li class="tab">
      <span class="eaf-tab"><a href="{% url 'eaf' %}">Тексты (в формате EAF)</a></span>
    </li>
    {% endcomment %}
    <li class="tab">
      <span class="corpus-tab"><a href="{% url 'corpus' %}">Поиск в корпусе</a></span>
    </li>
    {% comment %}
    <li class="tab">
      <span class="dialects-tab"><a href="{% url 'audio_texts' %}">Диалектный подкорпус</a></span>
    </li>
    {% endcomment %}
  </ul>
  <div class="tab-content">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
