{% extends 'base.html' %}
{% load lookup %}
{% load static %}

{% block title %}Корпус{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "khakas/charmap.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "khakas/cssload-tetromino.css" %}" />
  <script lang="javascript" src="{% static "khakas/charmap.js" %}?v=2"></script>
  <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>
  <script src="https://fred-wang.github.io/mathml.css/mspace.js"></script>
  <script lang="javascript" src="{% static "khakas/searchform.js" %}?v=7"></script>
  <style type="text/css">
    .tab > span.corpus-tab { border: 1px solid #000; border-bottom: none; }
    form { border: 1px solid #000; background: #CCC; padding: 0 10px; text-align: left; margin-bottom: 1ex; }
    form div>label { font-weight: bold; }
    form p { margin: 5px 0 0; }
    form div.submit { text-align: center; }
    form div.submit input[type=submit] { font-size: 150%; }
    form div label, form div ul.text { /*width: 35%;*/ display: inline-block; vertical-align: top; text-indent: -0.7em; margin-left: 0.7em; }
    form p label { /*width: 35%;*/ display: inline-block; padding-right: 1em; vertical-align: baseline; font-weight: bold; }
    form ul { border: 1px solid #000; overflow-y: scroll; list-style-type: none; padding: 5px; margin: 0 0; }
    form #id_text { background: #DDD; }
    form ul#id_text { text-indent: -1.5em; padding-left: 3em; }
    .textword_filter { border: 1px solid #000; padding: 5px; margin: 10px 0; }
    .textword_filter:first-of-type p:first-of-type { display: none !important; }
    form ul.features_and { column-width: 160px; background: #CFC; }
    form ul.features_auto { column-width: 160px; column-gap: 10px; background: #FD8; }
    form ul li.newslot { margin-top: 4px; border-top: 3px solid #FEC; position: relative; height: 19px; break-inside: avoid; }
    form ul li .slotno { padding-left: 1px; background: #FEC; margin-top: -3px; font-size: 80%; position: absolute; right: 0; }
    form ul.features_auto input { margin: 1px 0; }
    form button.add, form button.remove { padding-top: 0.5ex; padding-bottom: 0.5ex; }
    /*form ul label { white-space: nowrap; } */
    form input[type=text] { font-size: 120%; }
    form input[type=number] { width: 5em; }
    .features_formula { display: inline-block; background: #EEE; padding: 0 1em; max-width: 100%; overflow-x: scroll; box-sizing: border-box; vertical-align: middle; }
    .zoomin { cursor: zoom-in; }
    .zoomout { cursor: zoom-out; }
    .pad0 { padding: 0; }
    #glossed-view { text-align: left; }
    #glossed-view p { background: #EEE; }
    .phrase { background: #FFF; }
    #glossed-view div,
    .sc,
    .mtxt,
    form input[type=text] { font-family: Times New Roman PSMT Pro, Starling Serif, Charis SIL, Times New Roman, serif; }
    #id_text table,
    #id_text th,
    #id_text td { border-collapse: collapse; border-bottom: 1px solid gray; }
    #id_text caption { font-size: larger; font-weight: bold; margin-top: 1em; }
    #id_text th { vertical-align: bottom; text-align: center; font-size: 85%; }
    #id_text th .sort.desc:after { content:"▼"; }
    #id_text th .sort.asc:after { content:"▲"; }
    #id_text td { vertical-align: top; }
    #id_text th.title input { float: left; }
    #id_text th,
    #id_text td { padding: 0.2em; line-height: 110%; }
    #id_text td span.translation { font-size: 90%; }
    #id_text td.dialect,
    #id_text td.genre,
    #id_text td.time,
    #id_text td.place,
    #id_text td.print { font-size: 80%; }
    #id_text td.dialect,
    #id_text td.genre,
    #id_text .time { max-width: 7em; }
    #id_text .stats { max-width: 9em; }
    #id_text .print { max-width: 10em; }
    #id_text td.stats { text-align: right; }
    .phraseref { display: block; font-size: 70%; float: left; }
    .phrase, .word, .morpheme { display: inline-block; margin: 3px; vertical-align: top; }
    .morphemes-confirmed { background: #CFC; }
    .morphemes-auto { background: #FD8; }
    .highlight { background: #DDF; padding: 0 10px 1px; }
    .gls span.highlight { padding: 0; }
    .missing-lexeme, .missing-semgloss { color: #F00; }
    .words { display: inline; }
    .mtxt { font-style: italic; }
    .txt, .mtxt, .mgls, .gls { text-align: center; }
    .morpheme .mgls { font-size: 80%; }
    .gls { border-top: 1px dotted grey; margin: 0 3px; }
    .phrase { border: 1px solid grey; }
    .sc { color: grey; font-size: 90%; font-variant: small-caps; }
    .mgls .sc { font-size: 100%; }
    #edit-panel { position: fixed; left: 0; top: 50%; background: #FFF; width: 125px; font-family: Arial, Helvetica, sans-serif; font-size: 80%; }
    #edit-panel ul { padding: 0; }
    #edit-panel li { margin: 5px; }
    #edit-panel li.h { margin-top: 10px; }
    #edit-panel a { display: block; text-decoration: none; }
    #edit-panel li a:hover { background: #00F; color: #FFF; }
    .has-panel { margin-left: 130px; }
    .active-phrase { border: 2px dotted #00F; }
    .results-summary,
    .settings,
    .textinfo { background: #DDD; position: -webkit-sticky; position: sticky; top: -1px; padding-bottom: 0.5ex; }
    .settings { float: right; z-index: 100; }
    .settings a { text-decoration: none; }
    .textinfo { font-weight: bold; top: 1.4em; }
    #id_text td.dialect span,
    .textinfo-dialect { font-weight: normal; background: #EEE; border-radius: 5px; padding: 1px 5px; margin: 0 10px; }
    .omonymy.expanded { max-height: 100%; }
    .omonymy { border: 1px dotted #DDD; overflow-y: scroll; min-height: 4ex; max-height: 6ex; }
    .omonymy .morphemes { border-bottom: 1px dotted #DDD; }
    .omonum { font-weight: bold; vertical-align: top; font-size: 60%; }
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  </style>

  {% verbatim %}
  <script id="formula-tmpl" type="x-tmpl-mustache">
    <span class="features_formula">
      {{#if slots}}
      <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
          {{#slots}}
            {{#if (lookup . 1)}}<mfenced open="(" close=")">{{/if}}
              <mtable>
                {{#each .}}
		  <mtr><mtd class="pad0"><mtext class="sc">{{name}}</mtext><mtext>&nbsp;</mtext><mtext class="mtxt">{{affix}}</mtext></mtd></mtr>
                {{/each}}
              </mtable>
            {{#if (lookup . 1)}}</mfenced>{{/if}}
            </mfenced>
            {{#unless @last}}<mo>+</mo>{{/unless}}
          {{/slots}}
        </mrow>
      </math>
      {{else}}
        <a href="#" onclick="return false">выбрать</a>
      {{/if}}
    </span>
  </script>

  <script id="slot-caption-tmpl" type="x-tmpl-mustache">
    <div class="slotno slotno-{{n_slot}}">{{slot_title}} <input type="checkbox" onclick="slot_click(this, {{n_slot}})"/></div>
  </script>
  {% endverbatim %}

  <script lang="javascript">
    var positions = [{% for p in affixes %}[{{ p.pk }},{{ p.pos }}],{% endfor %}[]];
    var texts = group_by({{ texts|dumps|safe }}, 'id');
  </script>

  {% comment %}
  <script lang="javascript" src="{% static "khakas/glossedview.js" %}"></script>
  {% if request.user.is_authenticated %}
    <script type="text/javascript" src="/jquery.ajaxq-0.0.1.js"></script>
    <script lang="javascript" src="{% static "khakas/suddenly.js" %}"></script>
    <script lang="javascript" src="{% static "khakas/glossededit.js" %}"></script>
  {% endif %}
  <script lang="javascript">
    $(document).ready(function() {
      var view = $('#glossed-view');
      view.html('Подождите, пожалуйста...');
      $.get('/{{ object.storage }}', function(data, state, jqxhr) {
        load_view(name, data);
        {% if request.user.is_authenticated %}
          apply_edit_behaviors();
        {% endif %}
      }, 'xml');
    });
  </script>
  {% endcomment %}

  <script id="word_grammar-tmpl" type="x-tmpl-mustache">{% verbatim %}
    <div class="morphemes {{klass}}">
    {{~#if (gt index 0)}}<span class="omonum">{{index}}</span>{{/if~}}
    {{~#grammar~}}
      {{~#features~}}{{~#if (lt position 0)~}}
        <div class="morpheme">
          <div class="mtxt">{{ word_feature.affix }}</div>
          <div class="mgls">
            <span class="sc">{{ word_feature.feature.signature }}</span>
          </div>
        </div>
      {{~/if~}}{{~/features~}}
      <div class="morpheme">
        <div class="mtxt{{#unless lexeme}} missing-lexeme{{/unless}}">
          {{#raw_stem}}
            {{.}}
          {{else}}
            {{#if lexeme.raw_stem }}{{ lexeme.raw_stem }}{{else}}{{ lexeme.lexeme }}{{/if}}
          {{/raw_stem}}
        </div>
        <div class="mgls{{#unless lexeme}} missing-semgloss{{/unless}}">
          {{#if raw_semgloss}}
            {{ raw_semgloss }}
          {{else}}
            {{ lexeme.semgloss }}
          {{/if}}
        </div>
      </div>
      {{~#features~}}{{~#if (gt position 0)~}}
        <div class="morpheme">
          <div class="mtxt">{{ word_feature.affix }}</div>
          <div class="mgls">
            <span class="sc">{{ word_feature.feature.signature }}</span>
          </div>
        </div>
      {{~/if~}}{{~/features~}}
    {{/grammar}}
    </div>
  {% endverbatim %}</script>

  <script id="results-tmpl" type="x-tmpl-mustache">{% verbatim %}
    <div class="results-summary">
      <span class="highlight">Найдено словоформ: {{ n_word_matches }}, фраз: {{ n_sentence_matches }}.</span>
    </div>
    {{#if count}}
      <div class="settings">
        {{#if (gt n_sentence_matches 0)}}
          Страница {{#if prev_page}}<a onclick="event.preventDefault(); go_page(1)" href="{{ first_page }}">&#x23ee;</a> <a onclick="event.preventDefault(); go_page({{sum page -1}})" href="{{ prev_page }}">&#x23ea;</a>{{/if}}
          {{page}} {{#if next_page}}<a onclick="event.preventDefault(); go_page({{sum page 1}})" href="{{ next_page }}">&#x23e9;</a> <a onclick="event.preventDefault(); go_page({{ n_last_page }})" href="{{ last_page }}">&#x23ed;</a>{{/if}}
          из {{ n_last_page }}<br/>
        {{/if}}
        <input type="checkbox" onclick="$('.omonymy').toggleClass('expanded')"/>Развернуть омонимию
      </div>
    {{/if}}
    {{#groupby results "text"}}
      <hr/>
      {{#texts group}}
        <div class="textinfo">
          {{#if author}}{{author.name}}. {{/if}}
	  {{#if storyteller}}{{storyteller.name}} (рассказчик{{# if storyteller.birth_place}}, {{storyteller.birth_place.name_ru}}{{/if}}). {{/if}}
          <a href="/texts/#text{{ id }}" target="_blank">{{ title }}</a>
          {{#if dialect}}<span class="textinfo-dialect">{{dialect.name_ru}}</span>{{/if}}
	  {{#if record_place}}(Место записи: {{record_place.name_ru}}). {{/if}}
        </div>
      {{/texts}}
      {{#items}}
        <div class="phrase" id="{{ id }}">
          <div class="phraseref">{{#if reference }}{{reference}}{{else}}{{ paragraph_number }}.{{number}}{{/if}}</div>
          <div class="txt">{{#if source_phonetic }}{{source_phonetic}}{{else}}{{#words}}{{leftpunct}}{{wordform.wordform}}{{rightpunct}} {{/words}}{{/if}}</div>
          <div class="words">
            {{~#words~}}
              <div class="word{{#if is_match }} highlight{{/if}}">
                <div class="txt">{{ wordform.wordform }}</div>
                {{#confirmed_grammar}}
                  {{> word_grammar grammar=confirmed_grammar klass=" morphemes-confirmed"}}
                {{/confirmed_grammar}}
                {{^confirmed_grammar}}
                  {{#if (gt wordform.grammars.length 1)}}
                    <div class="omonymy">
                      {{#each wordform.grammars}}
                        {{> word_grammar grammar=. klass=" morphemes-auto" index=(sum @index 1)}}
                      {{/each}}
                    </div>
                  {{else}}
                    {{#each wordform.grammars}}
                      {{> word_grammar grammar=. klass=" morphemes-auto" index=0}}
                    {{/each}}
                  {{/if}}
                {{/confirmed_grammar}}
              </div>
            {{~/words~}}
          </div>
          <div class="gls">{{{translation_ru}}}</div>
        </div>
      {{/items}}
    {{/groupby}}
  {% endverbatim %}</script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endblock %}

{% block content %}
<form>
  <div style="float: right; padding: 20px;"><a href="/help/corpus/" target="_blank">Инструкция по пользованию корпусом</a></div>
  <h3>Параметры поиска</h4>
  <div id="multifilter">
    <p style="color: red">{{ error }}</p>
    {% for word_filter in word_filters %}
      <div class="textword_filter">
        {{ word_filter.form.as_p }}
        <button class="remove" type="button" onclick="remove_textword_filter(this)">× Удалить условие</button>
      </div>
    {% endfor %}
    <button class="add" type="button" onclick="add_textword_filter(this)">+ Добавить условие</button>
    {{ sentence_filter.form.as_p }}
  </div>
  <div class="submit">
    <input type="submit" value="Поиск" onclick="$('#id_page').val(1)"/>
    <div class="wait" style="display: none;">
      <div class="cssload-tetrominos">
        <div class="cssload-tetromino cssload-box1"></div>
        <div class="cssload-tetromino cssload-box2"></div>
        <div class="cssload-tetromino cssload-box3"></div>
        <div class="cssload-tetromino cssload-box4"></div>
      </div>
    </div>
  </div>
</form>
<div id="glossed-view">
  {% if not not_searched_yet %}
    <div class="results-summary">
      <span class="highlight">Найдено словоформ: {{ data.n_word_matches }}, фраз: {{ data.n_sentence_matches }}.</span>
    </div>
  {% endif %}
  {% if data.count %}
    <div class="settings">
      {% if data.n_sentence_matches %}
        Страница {% if data.prev_page %}<a onclick="event.preventDefault(); go_page(1)" href="{{ data.first_page }}">&#x23ee;</a> <a onclick="event.preventDefault(); go_page({{ data.page|add:-1 }})" href="{{ data.prev_page }}">&#x23ea;</a>{% endif %}
        {{data.page}} {% if data.next_page %}<a onclick="event.preventDefault(); go_page({{ data.page|add:1 }})" href="{{ data.next_page }}">&#x23e9;</a> <a onclick="event.preventDefault(); go_page({{ data.n_last_page }})" href="{{ data.last_page }}">&#x23ed;</a>{% endif %}
        из {{ data.n_last_page }}<br/>
      {% endif %}
      <input type="checkbox" onclick="$('.omonymy').toggleClass('expanded')"/>Развернуть омонимию
    </div>
  {% endif %}
  {% regroup data.results by text as results_grouped %}
  {% for text, sentences in results_grouped %}
    {% with textinfo=texts|lookup:text %}
      <hr/>
      <div class="textinfo">
        {% if textinfo.author %}{{textinfo.author.name}}. {% endif %}
        {% if textinfo.storyteller %}
	  {{textinfo.storyteller.name}} (рассказчик{% if textinfo.storyteller.birth_place %}, {{textinfo.storyteller.birth_place.name_ru}}{% endif %}).
	{% endif %}
        <a href="/texts/#text{{ textinfo.id }}" target="_blank">{{ textinfo.title }}</a>
        {% if textinfo.dialect %}<span class="textinfo-dialect">{{textinfo.dialect.name_ru}}</span>{% endif %}
	{% if textinfo.record_place %}(Место записи: {{ textinfo.record_place.name_ru }}).{% endif %}
      </div>
    {% endwith %}
    {% for sentence in sentences %}
      <div class="phrase" id="{{ sentence.id }}">
        <div class="phraseref">{% if sentence.reference %}{{ sentence.reference }}{% else %}{{ sentence.paragraph_number }}.{{ sentence.number }}{% endif %}</div>
        <div class="txt">{% for word in sentence.words %}{% if word.leftpunct %}{{ word.leftpunct }}{% endif %}{{ word.wordform.wordform }}{% if word.rightpunct %}{{ word.rightpunct }}{% endif %} {% endfor %}</div>
        <div class="words">
          {% for word in sentence.words %}
            <div class="word{% if word.is_match %} highlight{% endif %}">
              <div class="txt">{{ word.wordform.wordform }}</div>
              {% if word.confirmed_grammar %}
                {% with grammar=word.confirmed_grammar class="morphemes-confirmed" %}
                  {% include "word_grammar.html" %}
                {% endwith %}
              {% else %}
                {% if word.wordform.grammars|length > 1 %}
                  <div class="omonymy">
                    {% for homonym in word.wordform.grammars %}
                      {% with grammar=homonym counter=forloop.counter class="morphemes-auto" %}
                        {% include "word_grammar.html" %}
                      {% endwith %}
                    {% endfor %}
                  </div>
                {% else %}
                  {% for homonym in word.wordform.grammars %}
                    {% with grammar=homonym counter=0 class="morphemes-auto" %}
                      {% include "word_grammar.html" %}
                    {% endwith %}
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="gls">{{ sentence.translation_ru|safe }}</div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
