{% extends 'base.html' %}
{% load static %}

{% block title %}Словарь - {{ object.lexeme }}{% endblock %}

{% block css %}
  <style type="text/css">
    /*.tab > span.eaf-tab { border: 1px solid #000; border-bottom: none; }*/
    #glossed-view p { background: #EEE; }
    .phrase { background: #FFF; }
    #glossed-view div { font-family: Times New Roman PSMT Pro, Starling Serif, Charis SIL, Times New Roman, serif; }
    .phrase, .word, .morpheme { display: inline-block; margin: 3px; }
    .words { display: inline; }
    .mtxt { font-style: italic; }
    .txt, .mtxt, .mgls, .gls { text-align: center; }
    .gls { border-top: 1px dotted grey; margin: 0 3px; }
    .phrase { border: 1px solid grey; }
    .sc { color: grey; font-size: 80%; font-variant: small-caps; }
    #edit-panel { position: fixed; left: 0; top: 50%; background: #FFF; width: 125px; font-family: Arial, Helvetica, sans-serif; font-size: 80%; }
    #edit-panel ul { padding: 0; }
    #edit-panel li { margin: 5px; }
    #edit-panel li.h { margin-top: 10px; }
    #edit-panel a { display: block; text-decoration: none; }
    #edit-panel li a:hover { background: #00F; color: #FFF; }
    .has-panel { margin-left: 130px; }
    .active-phrase { border: 2px dotted #00F; }
    .omonymy { border: 1px dotted #DDD; overflow-y: scroll; min-height: 4ex; max-height: 6ex; }
    .omonymy .morphemes { border-bottom: 1px dotted #DDD; }
    .omonum { font-weight: bold; vertical-align: top; font-size: 60%; }
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  </style>
  {% comment %}
  <script lang="javascript" src="{% static "khakas/glossedview.js" %}"></script>
  {% if request.user.is_authenticated %}
    <script type="text/javascript" src="/jquery.ajaxq-0.0.1.js"></script>
    <script lang="javascript" src="{% static "khakas/suddenly.js" %}"></script>
    <script lang="javascript" src="{% static "khakas/glossededit.js" %}"></script>
  {% endif %}
  <script lang="javascript">
    $(document).ready(function() {
      var view = $('#glossed-view');
      view.html('Подождите, пожалуйста...');
      $.get('/{{ object.storage }}', function(data, state, jqxhr) {
        load_view(name, data);
        {% if request.user.is_authenticated %}
          apply_edit_behaviors();
        {% endif %}
      }, 'xml');
    });
  </script>
  {% endcomment %}
{% endblock %}

{% block content %}
<h3>{{ object.lexeme }}{% if object.lexeme_no != '0' %} {{ object.lexeme_no }}{% endif %}</h3>
<p><i>{{ object.part|lower }}</i> <b>{{ object.lexeme }}</b>{% if object.lexeme_no != '0' %} {{ object.lexeme_no }}{% endif %} ‛{{ object.semgloss }}’</p>
{% endblock %}
