{% extends 'base.html' %}

{% block title %}Тексты в формате EAF{% endblock %}

{% block css %}
  <style type="text/css">
    .tab > span.eaf-tab { border: 1px solid #000; border-bottom: none; }
  </style>
{% endblock %}

{% block content %}
<h3>Матрица металингвистических данных по параллельному хакасско-русскому корпусу в формате EAF</h3>
<table border=1 cellpadding=10 style="border-collapse: collapse;">
  <thead>
    <tr>
      <th>Название произведения</th><th>EAF</th>
    </tr>
  </thead>
  <tbody>
    {% for text in object_list %}
      <tr style="font-size:90%;text-align:left;">
        <td>{% if text.storage %}<a href="{% url 'eaf_detail' text.pk %}">{% endif %}{{ text.title_kh }}<br/>{{ text.title_ru }}{% if text.storage %}</a>{% endif %}</td>
        <td><a href="{{ text.storage }}">/{{ text.storage }}</a> ({{ text.storage.size|filesizeformat }})</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
