{% extends 'base.html' %}
{% load static %}

{% block title %}Текст - {{ object.title_kh }}{% endblock %}

{% block css %}
  <style type="text/css">
    .tab > span.eaf-tab { border: 1px solid #000; border-bottom: none; }
    #glossed-view p { background: #EEE; }
    .phrase { background: #FFF; }
    #glossed-view div { font-family: Times New Roman PSMT Pro, Starling Serif, Charis SIL, Times New Roman, serif; }
    .phrase, .word, .morpheme { display: inline-block; margin: 3px; }
    .words { display: inline; }
    .mtxt { font-style: italic; }
    .txt, .mtxt, .mgls, .gls { text-align: center; }
    .gls { border-top: 1px dotted grey; margin: 0 3px; }
    .phrase { border: 1px solid grey; }
    .sc { color: grey; font-size: 80%; font-variant: small-caps; }
    #edit-panel { position: fixed; left: 0; top: 50%; background: #FFF; width: 125px; font-family: Arial, Helvetica, sans-serif; font-size: 80%; }
    #edit-panel ul { padding: 0; }
    #edit-panel li { margin: 5px; }
    #edit-panel li.h { margin-top: 10px; }
    #edit-panel a { display: block; text-decoration: none; }
    #edit-panel li a:hover { background: #00F; color: #FFF; }
    .has-panel { margin-left: 130px; }
    .active-phrase { border: 2px dotted #00F; }
    .omonymy { border: 1px dotted #DDD; overflow-y: scroll; min-height: 4ex; max-height: 6ex; }
    .omonymy .morphemes { border-bottom: 1px dotted #DDD; }
    .omonum { font-weight: bold; vertical-align: top; font-size: 60%; }
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  </style>
  {% comment %}
  <script lang="javascript" src="{% static "khakas/glossedview.js" %}"></script>
  {% if request.user.is_authenticated %}
    <script type="text/javascript" src="/jquery.ajaxq-0.0.1.js"></script>
    <script lang="javascript" src="{% static "khakas/suddenly.js" %}"></script>
    <script lang="javascript" src="{% static "khakas/glossededit.js" %}"></script>
  {% endif %}
  <script lang="javascript">
    $(document).ready(function() {
      var view = $('#glossed-view');
      view.html('Подождите, пожалуйста...');
      $.get('/{{ object.storage }}', function(data, state, jqxhr) {
        load_view(name, data);
        {% if request.user.is_authenticated %}
          apply_edit_behaviors();
        {% endif %}
      }, 'xml');
    });
  </script>
  {% endcomment %}
{% endblock %}

{% block content %}
<h3>{{ object.title }}</h3>
<div id="glossed-view">
  <p>
    {% for sentence in sentences %}
      <div class="phrase" id="{{ sentence.id }}">
        <div class="txt">{{ sentence.kh }}</div>
        <div class="words">
          {% for word in sentence.words %}
            <div class="word">
              <div class="txt">{{ word.kh }}</div>
              {% if word.homonyms|length > 1 %}<div class="omonymy">{% endif %}
              {% for homonym in word.homonyms %}
                <div class="morphemes">
                  {% if word.homonyms|length > 1 %}<span class="omonum">{{ forloop.counter }}</span>{% endif %}
                  {% for morpheme in homonym %}
                    <div class="morpheme">
                      <div class="mtxt">{{ morpheme.kh }}</div>
                      <div class="mgls">{% if morpheme.ru_is_characteristic %}<span class="sc">{{ morpheme.ru }}</span>{% else %}{{ morpheme.ru }}{% endif %}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
              {% if word.homonyms|length > 1 %}</div>{% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="gls">{{ sentence.ru }}</div>
      </div>
    {% endfor %}
  </p>
</div>
{% endblock %}
