{% extends 'base.html' %}

{% block title %}Сведения об авторах и рассказчиках{% endblock %}

{% block css %}
  <style type="text/css">
    .tab > span.persons-tab { border: 1px solid #000; border-bottom: none; }
    th { position: -webkit-sticky; position: sticky; top: 0; z-index: 2; background: #DDD; }
    a[name] { padding-top: 3ex; margin-top: -3ex; }
  </style>
{% endblock %}

{% block content %}
<h3>Сведения об авторах и рассказчиках</h3>
<table border=1 cellpadding=10 style="border-collapse: collapse; border-color: #777;">
  <thead>
    <tr style="font-size: 90%; text-align: center;">
      <th style="width:20%;">Автор</th>
      <th>Место рождения</th>
      <th>Биографическая справка</th>
      <th style="width:30%;">Тексты</th>
    </tr>
  </thead>
  <tbody style="vertical-align: top;">
    {% for person in object_list %}
      <tr style="font-size:90%;text-align:left;">
        <td>
	  <a name="{{ person.slug }}"></a><b>{{ person.first_name }} {{ person.last_name|upper }}</b>
	  {% if person.birth_year and person.death_year %}({{ person.birth_year }}–{{ person.death_year }})
	  {% elif person.birth_year                     %}(р.&nbsp;{{ person.birth_year}})
	  {% elif person.death_year                     %}(ум.&nbsp;{{ person.death_year }})
	  {% endif %}
	</td>
	<td>{% if person.birth_place %}{{ person.birth_place }}{% endif %}</td>
	<td>{{ person.notes }}</td>
	<td>
	  {% if person.texts.all %}
	    <ul>
	      {% for text in person.texts.all %}
	        <li><a href="/texts/#text{{ text.id }}">{{ text.title }}</a> (автор)</li>
	      {% endfor %}
	    </ul>
	  {% endif %}
	  {% if person.texts_as_collector.all %}
	    <ul>
	      {% for text in person.texts_as_collector.all %}
	        <li><a href="/texts/#text{{ text.id }}">{{ text.title }}</a> (составитель)</li>
	      {% endfor %}
	    </ul>
	  {% endif %}
	  {% if person.texts_as_editor.all %}
	    <ul>
	      {% for text in person.texts_as_editor.all %}
	        <li><a href="/texts/#text{{ text.id }}">{{ text.title }}</a> (редактор)</li>
	      {% endfor %}
	    </ul>
	  {% endif %}
	  {% if person.texts_as_storyteller.all %}
	    <ul>
	      {% for text in person.texts_as_storyteller.all %}
	        <li><a href="/texts/#text{{ text.id }}">{{ text.title }}</a> (рассказчик)</li>
	      {% endfor %}
	    </ul>
	  {% endif %}
	</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
