{% extends 'base.html' %}

{% block title %}Тексты{% endblock %}

{% block css %}
  <style type="text/css">
    .tab > span.texts-tab { border: 1px solid #000; border-bottom: none; }
    th { position: -webkit-sticky; position: sticky; top: 0; z-index: 2; background: #DDD; }
    a[name] { padding-top: 3ex; margin-top: -3ex; }
  </style>
{% endblock %}

{% block content %}
<h3>Матрица металингвистических данных по параллельному хакасско-русскому корпусу</h3>
<table border=1 cellpadding=10 style="border-collapse: collapse;">
  <thead>
    <tr style="font-size: 90%; text-align: center;">
      <th>Название&nbsp;произведения</th><th>Жанр</th><th>Автор</th><th>Время написания</th><th>Место записи</th><th>Количественные ха­рак­те­рис­ти­ки: сло­во­упо­треб­ле­ний (фраз)</th><th>Биб­лио­гра­фи­чес­кие дан­ные ис­точ­ни­ка</th><th>Переводчик</th>
    </tr>
  </thead>
  <tbody>
    {% for text in object_list %}
      <tr style="font-size:90%;text-align:left;">
              <td><a name="text{{ text.id }}"></a><b>{{ text.title }}</b>{% if text.translation_title %} [{{ text.translation_title }}]{% endif %}</td>
        <td>{{ text.genre }}</td>
        <td>
	  {% with person=text.author %}{% include "personref.html" %}{% endwith %}
	  {% with person=text.editor append=" (ред.)." %}{% include "personref.html" %}{% endwith %}
	  {% with person=text.storyteller %}{% include "personref.html" %}{% endwith %}
	  {% if text.storyteller %} (рассказчик{% if text.storyteller.birth_place %}, {{text.storyteller.birth_place}}{% endif %}).{% endif %}
        </td>
        <td>{% if text.creation_time %}{{ text.creation_time }}{% endif %}</td>
        <td>{% if text.record_place %}{{ text.record_place }}{% endif %}</td>
        <td>{{ text.n_word_tokens }} ({{ text.n_phrases }})</td>
	<td>{% if text.publication %}{{ text.publication }}{% else %}{{ text.city }}, {{ text.year }}{% endif %}</td>
        <td>{% if text.translator %}{{ text.translator }}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
