{% spaceless %}
<div class="morphemes {{ class }}">
  {% if counter %}<span class="omonum">{{ counter }}</span>{% endif %}
  {% for feature in grammar.features %}{% if feature.position < 0 %}
    <div class="morpheme">
      <div class="mtxt">{{ feature.word_feature.affix }}</div>
      <div class="mgls">
        <span class="sc">{{ feature.word_feature.feature.signature }}</span>
      </div>
    </div>
  {% endif %}{% endfor %}
  <div class="morpheme">
    <div class="mtxt{% if not grammar.lexeme %} missing-lexeme{% endif %}">
      {% if grammar.raw_stem %}
        {{ grammar.raw_stem }}
      {% else %}
        {% if grammar.lexeme.raw_stem %}{{ grammar.lexeme.raw_stem }}{% else %}{{ grammar.lexeme.lexeme }}{% endif %}
      {% endif %}
    </div>
    <div class="mgls{% if not grammar.lexeme %} missing-semgloss{% endif %}">
      {% if grammar.raw_semgloss %}
        {{ grammar.raw_semgloss }}
      {% else %}
        {{ grammar.lexeme.semgloss }}
      {% endif %}
    </div>
  </div>
  {% for feature in grammar.features %}{% if feature.position > 0 %}
    <div class="morpheme">
      <div class="mtxt">{{ feature.word_feature.affix }}</div>
      <div class="mgls">
        <span class="sc">{{ feature.word_feature.feature.signature }}</span>
      </div>
    </div>
  {% endif %}{% endfor %}
</div>
{% endspaceless %}
