a.charmap-launch { margin: 0 10px; padding: 0 10px; color: #000; text-decoration: none; font-size: 125%; border-radius: 5px; border: 1px solid #000; background-color: #eee; }
a.charmap-launch.pressed { background-color: #AAA; }
.charmap-widget { z-index: 100; position: absolute; width: 600px; padding: 2px; border: 1px solid #555; border-radius:5px; white-space: normal; overflow: hidden; text-align: center; }
.charmap-widget .transparency { opacity: 0.7; filter:alpha(opacity=70); position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #333;z-index:-1;}
.charmap-row { display: inline-block; margin: 3px; }
.charmap-row input { font-family: "Times New Roman PSMT Pro"/*, "Starling Serif", "Arial Unicode MS"*/; text-rendering: optimizeLegibility; font-size: 18px; margin: 0; text-shadow: 1px 0px #EEE; background-color: #DDD; border: 1px solid #BBB; border-right: 1px solid #999; border-bottom: 1px solid #999; border-radius: 3px; height: 32px; width: 32px; }
