{% with id=widget.attrs.id %}
<div id="{{ id }}">
<table{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
<caption>Литературный корпус</caption>
<thead>
  <th><input type="checkbox" class="textfilter-checkall"/></th>
  <th class="title"><span class="sort" data-sort="title">Текст</span          ><br/><input class="subcorpus-filter-entry" data-col="title" placeholder="Фильтр по автору/названию" size="30"/></th>
  <th class="genre"><span class="sort" data-sort="genre">Жанр</span           ><br/><input class="subcorpus-filter-entry" data-col="genre" placeholder="Жанр" size=10/></th>
  <th class="time"><span class="sort" data-sort="time">Время создания</span   ><br/><input class="subcorpus-filter-entry" data-col="time" placeholder="Время создания" size=13/></th>
  <th class="print"><span class="sort" data-sort="print">Выходные данные</span><br/><input class="subcorpus-filter-entry" data-col="print" placeholder="Выходные данные" size=14/></th>
  <th class="stats"><span class="sort" data-sort="stats">Слово&shy;употреб&shy;лений / предложений</span></th>
</thead>
<tbody class="list-literature">
  {% for group, options, index in widget.optgroups %}{% for option in options %}
    {% if not option.label.dialect %}
      <tr>{% include option.template_name with widget=option dialect=0 print=1 place=0 %}</tr>
    {% endif %}
  {% endfor %}{% endfor %}
</table>
<table{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
<caption>Диалектный корпус</caption>
<thead>
  <th><input type="checkbox" class="textfilter-checkall"/></th>
  <th class="title"  ><span class="sort" data-sort="title"  >Текст</span         ><br/><input class="subcorpus-filter-entry" data-col="title" placeholder="Фильтр по автору/названию" size="30"/></th>
  <th class="dialect"><span class="sort" data-sort="dialect">Диалект</span       ><br/><input class="subcorpus-filter-entry" data-col="dialect" placeholder="Диалект" size=10/></th>
  <th class="genre"  ><span class="sort" data-sort="genre"  >Жанр</span          ><br/><input class="subcorpus-filter-entry" data-col="genre" placeholder="Жанр" size=10/></th>
  <th class="time"   ><span class="sort" data-sort="time"   >Время создания</span><br/><input class="subcorpus-filter-entry" data-col="time" placeholder="Время создания" size=13/></th>
  <th class="place"  ><span class="sort" data-sort="place"  >Место записи</span  ><br/><input class="subcorpus-filter-entry" data-col="place" placeholder="Место записи" size=20/></th>
  <th class="stats"  ><span class="sort" data-sort="stats">Слово&shy;употреб&shy;лений / предложений</span></th>
</thead>
<tbody class="list-dialectal">
  {% for group, options, index in widget.optgroups %}{% for option in options %}
    {% if option.label.dialect %}
      <tr>{% include option.template_name with widget=option dialect=1 print=0 place=1 %}</tr>
    {% endif %}
  {% endfor %}{% endfor %}
</table>
</div>
<script type="text/javascript">
  $('#{{ id }}').prev().append("<button onclick='btn=this;$(\"#{{ id }}\").toggle(function(){btn.innerHTML = $(this).is(\":hidden\") ? \"Выбрать\" : \"Спрятать\";}); return false;'>Выбрать</button> Выбрано текстов: <span class='text-selected-count'>0</span>, словоупотреблений: <span class='text-selected-textwords'>0</span>, предложений: <span class='text-selected-sentences'>0</span>.");
  var textlist = {};
  for (const [kind, names] of [["literature", ['toggle', 'title', 'genre', 'time', 'print', 'stats']],
                               ["dialectal", ['toggle', 'title', 'dialect', 'genre', 'time', 'place', 'stats']]]) {
    var options = {
      valueNames: names,
      listClass: "list-" + kind
    };
    textlist[kind] = new List('{{ id }}', options);
  }
  $('#{{ id }}').hide();
  function textfilter_check_update() {
    var counts = $('#{{ id }} tbody :checkbox')
      .map(function(i, el) { return [[el.checked, $('td.stats', el.parentElement.parentElement).html().split(" / ").map(Number)]]; })
      .get()
      .reduce(function(acc, v) { return [acc[0] + v[0],
                                         acc[1] + v[1][0] * v[0],
                                         acc[2] + v[1][1] * v[0]]; },
              [0, 0, 0]);

    $('.text-selected-count').html(counts[0]);
    $('.text-selected-textwords').html(counts[1]);
    $('.text-selected-sentences').html(counts[2]);
  }
  function textfilter_checkall_update() {
    $('.textfilter-checkall').each(function() {
      this.checked = ($('tbody :checkbox', $(this).parent().parent().parent().parent())
                      .map(function(i, el) { return el.checked; })
                      .get()
                      .reduce(function(acc, v) { return acc && v; },
                              true));
    });
  }
  $('#{{ id }} tbody :checkbox').click(textfilter_checkall_update);
  $('#{{ id }} tbody :checkbox').click(textfilter_check_update);
  textfilter_checkall_update();
  $('.textfilter-checkall').click(function() {
    $('tbody :checkbox', $(this).parent().parent().parent().parent()).prop('checked', this.checked);
  });
  $('.textfilter-checkall').click(textfilter_check_update);
  textfilter_check_update();

  $(".subcorpus-filter-entry").keyup(function(event) {
    var thead = $(event.target).parent().parent().parent();
    var conds = $(".subcorpus-filter-entry", thead).toArray().reduce(function(agg, cur) {
      var value = $(cur).val();
      if (value) {
        var col = $(cur).attr("data-col");
        return agg.concat([function(item) {
          return item.values()[col].toLowerCase().indexOf(value.toLowerCase()) >= 0;
        }]);
      }
      return agg;
    }, []);
    textlist[(thead.next().attr("class") == "list-dialectal") ? "dialectal" : "literature"].filter(function(item) {
      return (conds.length == 0) || conds.every(function(cond) { return cond(item); });
    });
  });
</script>{% endwith %}
