<td class="toggle">{% include "django/forms/widgets/input.html" %}</td>
{% with text=widget.label %}
<td class="title">
  {% if text.author %}{{ text.author }}.{% endif %}
  {% if text.editor %}{{ text.editor }} (ред.).{% endif %}
  {% if text.storyteller %}{{ text.storyteller }} (рассказчик{% if text.storyteller.birth_place %}, {{ text.storyteller.birth_place }}{% endif %}).{% endif %}
  <b><a href="/texts/#text{{ text.id }}" target="_blank">{{ text.title }}</a></b>
  {% if text.translation_title %}
    <br/>
    <span class="translation">
      (пер.: <i>{{ text.translator }}</i>. <b>{{ text.translation_title }}</b>)
    </span>
  {% endif %}
  {% if text.publication.series %}
    <p style="text-align: right; font-size: 80%;">
      <span class="publication">
	(в сборнике:
	<a href="/text/#text{{ text.id }}" target="_blank">{% if text.publication.compilers.count %}{% for compiler in text.publication.compilers.all %}
	  {{ compiler }} (сост.).{% if not forloop.last %}, {% endif %}
	{% endfor %}{% endif %}
	{{ text.publication.title }}{% comment %}
	{{ text.publication.series }}{% if text.publication.volume %}. — {{ text.publication.volume }}{% endif %}{% endcomment %}</a>)
      </span>
    </p>
  {% endif %}
</td>
{% if dialect %}
  <td class="dialect">{% if text.dialect %}<span class="textinfo-dialect">{{ text.dialect }}</span>{% endif %}</td>
{% endif %}
<td class="genre">{{ text.genre }}</td>
<td class="time">{% if text.creation_time %}{{ text.creation_time }}{% endif %}</td>
{% if print %}
<td class="print">
  {% if text.city %}{{ text.city }}, {% endif %}{{ text.year }}
  {% if text.translation_year %}
    <br/>
    <span class="translation">
      (пер.: {% if text.translation_city %}{{ text.translation_city }}, {% endif %}{{ text.translation_year }})
    </span>
  {% endif %}
</td>
{% endif %}
{% if place %}
  <td class="place">
    {% if text.record_place %}{{ text.record_place }}{% endif %}
  </td>
{% endif %}
<td class="stats">{{ text.n_alpha_words }} / {{ text.n_phrases }}</td>
{% endwith %}
