{% extends 'base.html' %}
{% load static %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block css %}
  <style type="text/css">
    div.footnotes { font-size: 85%; }
  </style>
{% endblock %}

{% block content %}
  {% if flatpage.url == '/grammar/' %}
        <h3>Парсер</h3>
        <p>Здесь можно проверить, как в данный момент автоматический парсер анализирует хакасские словоформы. В данное поле можно ввести любое количество словоформ.</p>
  <textarea id="textin" rows="6" cols="60" class="charmap"></textarea>
  <style type="text/css">
    a.found { background: #9ed559; padding: 3px; }
    a.notfound { background: #d59e59; padding: 3px; }
    .entry { margin: 5px; }
    .hidden { display: none; }
    .word { display: inline-block; vertical-align: top; margin-bottom: 5px; }
    .popup { position: relative; z-index: 100; border: 1px solid #000; background: #CCC; width: 170px; text-align: left;}
    .affixes, .chars { font-style: italic; }
    .sc { color: #555; font-size: 80%; font-style: normal; font-variant: small-caps; }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static "khakas/charmap.css" %}" />
  <script type="text/javascript" src="{% static "khakas/suddenly.js" %}"></script>
  <script type="text/javascript" src="{% static "suddenly/jquery.ajaxq-0.0.1.js" %}"></script>
  <script type="text/javascript" src="{% static "khakas/charmap.js" %}"></script>
  <script type="text/javascript">
  function smallcapsize(s) {
    return s.replace(/([^-]+)/g, '<span class="sc">$1</span>');
  }
  function do_parse() {
    var text = normalize($('#textin').val());
    var re = /[а-яё\u0456\u04E7\u04F1\u0493\u04A3\u04CC-]+/g;
    var matched;
    $('#output').html('');
    var n = 1;
    while (matched = re.exec(text)) {
      var word = matched[0];
      var a = $('<a href="#" onclick="return false;">' + word + ' </a>');
      var el = $('<div class="word"></div>');
      a.appendTo(el);
      el.appendTo('#output');
      $('#output').append(' ');
      parse_word(word, a, function(a, homonyms) {
        var s = '';
        $.each(homonyms, function(i, homonym) {
          s += '<div class="entry">';
	  if (homonym.prefixes) {
	    s += '<div class="affixes">' + homonym.prefixes + '</div><div class="chars">' + smallcapsize(homonym.prefixform) + '</div>';
	  }
	  s += '<div class="dict">'/*+'<a href="/dict/' + homonym.id + '/" target="_blank">*/ + '<i>' + homonym.p_o_s + '</i> ' + homonym.headword + ' ' + homonym.meaning + ' ' + (homonym.stem || '') /*+ '</a>'*/ + '</div>';
	  s += '<div class="affixes">' + homonym.affixes + '</div><div class="chars">' + smallcapsize(homonym.form) + '</div>';
	  s += '</div>';
        });
        if (!s) {
          a.addClass('notfound');
          a.get(0).onclick = function() {
            window.open('/suddenly-debug/?parse=' + $(a).html().replace(' ', ''), 'blank');
            return false;
          };
        } else {
          a.addClass('found');
          $('<div class="popup hidden">' + s + '</div>').appendTo(a.parent());
          a.get(0).onclick = function() {
            var popup = $('.popup', this.parentNode)
            if (popup.hasClass('hidden'))
              popup.removeClass('hidden');
            else
              popup.addClass('hidden');
            return false;
          };
        }
      });
    }
  }
  </script>
  <input type="button" onclick="do_parse();" value="Анализ"></input>
  <div id="output">
  </div>
  {% endif %}
  {{ flatpage.content }}
{% endblock %}
